doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navWrap
      div.nav1
        button.btnHome(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog'" type='button') Home
        button(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/book'" type='button') All books 
        button(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/author'" type='button') All authors
        button(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/genre'" type='button') All genres
        button(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/bookInstance'" type='button') All book-instances
      div.nav2
        button(onclick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/author/createNew'") Create new author 
        button(onClick="location.href='https://limitless-brushlands-88497.herokuapp.com/catalog/book/createNew'") Create new book 
        button.notImplemented Create new genre 
        button.notImplemented Create new book-instance  

    block content
